@{
    ViewBag.Title = "My Messages";
}

<h1>@ViewBag.Title </h1>

<fieldset>
    <ul class="messages">
        <li>@Html.ActionLink("Write New Message", "NewMessage","Account")</li>
        </ul>
    <h2>@ViewBag.Count</h2>



</fieldset>