html {
    background-color:#eceff2;
    margin: 0;
    padding: 0;
    min-height:100%;
}

body {
    background: url("../Content/Images/bg_2.png") center top no-repeat;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding:10px 0 0 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left, .login-middle, .login-links {
    float: left;
}

.login-middle, .login-links {
    background: url("../Content/Images/login_bg_color.png") no-repeat;
}

.login-middle {
    background-color: #fff;
    height: 59px;
    width: 67%;
}

.login-links{
    height:59px;
    line-height:15px;
    width:160px;
}
.login-links ul{
    padding: 0 5px;
    list-style: none;
    color: #999999;
    text-align: center;
    margin-top:15px;
}

.float-right {
    float: right;
}

.user-login {
    list-style: none;
}

    .user-login li {
        float: left;
        margin: 0 1% 0 0;
    }

.login-label {
    width: 100px;
    float: left;
    display: block;
}

.user-login li input {
    /*border: #d8dbc4 solid 1px;
    background: #fff;
    padding-left: 3px;*/
    height: 18px;
width: 260px;
border: #d8dbc4 solid 1px;
padding: 0;
margin: 5px 0 0;
float: left;
font-size: 12px;
color: #333;
}

.login-button{
    background: url("../Content/Images/login_btn_submit.png") no-repeat;
    width:12px;
    height:23px;
    float:left;
    cursor:pointer;
    margin:2px 0 0 5px;
}
.login-profile-list {
    
    margin: 22px auto;
    padding:0;
}

    .login-profile-list li {
        float: left;
        width: 14%;
        list-style: none;
        font-size: 10px;
        text-align: center;
    }
    .login-profile-list li a{
        text-wrap:none;
    }

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 59px;
    background-color: #fff;
    padding: 2px;
    overflow:hidden;
}

.clear {
    clear: both;
}

.cornertitle {
    padding: 4px 4px 3px 4px !important;
    float: left;
    color: #FFF;
    font-size: 10px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #00a8e3;
}

.main-content {
    /*background: #fff;*/
    margin-top:25px;
}

.table-login{
    width: 362px;
    padding: 0 3px 0 3px;
    margin: 0;
    float: left;
    border: #daddc7 solid 1px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
}

.login-middle .validation-summary-errors{
    display:none;
}
#menu{
    list-style:none;
    padding:0;
    margin:10px auto;
    width:90%;
}
#menu li{
    float:left;
    margin-right:0.8%;
}
#menu li:last-child{
    margin-right:0;
    float:right;
}
#menu li a{
    padding: 2px 76px 3px 3px;
margin: 0;
font-size: 15px;
font-family: "Arial Black", Arial, sans-serif;
letter-spacing: -2px;
line-height: 15px;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
text-align: left;
float: left;
background: url("../Content/Images/top_menu_bg.png") repeat-x;
color:#fff;
}
#menu li a.active, #menu li a:hover{
    background: url("../Content/Images/top_menu_bg_hover.png") repeat-x;
    color:#000;
}
/*Side menu styles*/
.side-menu{
    width:20%;
    float:left;
}

/*Inner content*/
.inner-wrapper{
    width:77%;
    float:right;
    padding:20px;
    background-color:#fff;
}
.corner-top{
    padding: 4px 4px 3px 4px !important;
float: left;
color: #FFF;
font-size: 10px;
line-height: 10px;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
background-color: #00a8e3;
}
.register-form {
    display:block;
}
.register-form input,.register-form textarea{
    width: 362px;
padding: 0 3px 0 3px;
margin: 0;
float: left;
border: #daddc7 solid 1px;
height: 22px;
font-size: 12px;
line-height: 22px;
}
.register-form textarea{

    width:262px;
    height:66px;
}
fieldset{
    background-color:#F5F5F5;
    border:0;
    border-top:1px solid grey;
    padding:0;
}
h1.register{
    font-size: 36px;
font-family: "Arial Black", Gadget, sans-serif;
color: #000;
letter-spacing: -4px;
text-align: left;
padding: 40px 40px 20px 40px;
margin: 0;
width: 670px;
line-height: 40px;
float: left;
}